

/* search form */



p.hb-check-dates-wrapper,

p.hb-people-wrapper,

p.hb-search-button-wrapper {

	float: left;

	margin-right: 2%;

	position: relative;

}



p.hb-search-button-wrapper {

	margin-right: 0;

}



.hb-datepick-check-in-out-mobile-trigger {

	bottom: 0;

	display: none;

	left: 0;

	position: absolute; 

	right: 0; 

	top: 0;

}



.hb-datepick-check-in-out-trigger {

	display: block;

	position: absolute; 

}



.hb-check-dates-wrapper {

	width: 22%;

}



.hb-people-wrapper {

	width: 14%;

}



.hb-search-button-wrapper {

	width: 20%;

}



.hb-search-form-no-children .hb-check-dates-wrapper,

.hb-search-form-no-children .hb-people-wrapper,

.hb-search-form-no-children .hb-search-button-wrapper {

	width: 23.5%;

}



.hb-search-form-no-people .hb-check-dates-wrapper {

	width: 36%;

}



.hb-search-form-no-people .hb-search-button-wrapper {

	width: 24%;

}



.hb-search-form-no-people .hb-people-wrapper {

	display: none;

}



.hb-search-form-no-children .hb-people-wrapper-children,

.hb-search-form-no-children .hb-chosen-children {

	display: none;

}





.hb-check-dates-wrapper input,

.hb-people-wrapper select,

.hb-search-button-wrapper input {

	box-sizing: border-box;

	width: 100%; 

}



.hb-search-button-wrapper input {

	text-align: center;

	white-space: normal;

}



.hb-vertical-search-form .hb-searched-summary p,

.hb-vertical-search-form .hb-check-dates-wrapper,

.hb-vertical-search-form .hb-people-wrapper,

.hb-vertical-search-form .hb-search-button-wrapper {

	margin-right: 0%;

	width: 100%;

}



.hb-vertical-search-form:not(.hb-search-form-no-children) p.hb-people-wrapper {

	float: left;

	width: 48%;

}



.hb-vertical-search-form .hb-searched-summary p.hb-people-wrapper {

	width: 100%;

}



.hb-vertical-search-form:not(.hb-search-form-no-children) p.hb-people-wrapper-adults {

	margin-right: 4%;

}



.hb-vertical-search-form p.hb-people-wrapper-last {

	margin-right: 0;

}



.hb-vertical-search-form:not(.hb-narrow-search-form) .hb-search-button-wrapper input {

	width: auto; 

}



.hb-vertical-search-form .hb-search-button-wrapper label {

	display: none;

}



p.hb-booking-searching {

	background: url(loader-2x.gif) no-repeat left center;

	background-size: 24px 24px;

	display: none;

	line-height: 30px;

	padding-left: 30px;

}



.hb-search-error {

	color: #F04826;

}



.hb-searched-summary,

.hb-search-no-result,

.hb-search-error,

.hb-accom-list {

	display: none;

}



/* end search form */



/* accommodation selection */



.hb-booking-nb-nights,

.hb-accom-id,

.hb-accom-single-choice .hb-select-accom-multiple,

.hb-accom-multiple-choice .hb-select-accom-single,

.hb-accom-page .hb-view-accom,

.hb-accom-selected .hb-select-accom,

.hb-accom-page .hb-accom-selected .hb-select-accom-wrapper,

.hb-accom-selected-name {

	display: none;

}



.hb-accom {

	background: #fff;

	border: 1px solid #ccc;

	border-radius: 5px;

	margin-bottom: 20px;

	min-height: 90px;

	padding: 15px;

	padding-bottom: 0px;

	transition: background 0.5s;

}



.hb-accom-page .hb-accom {

	background: none;

	border: none;

	border-bottom: 1px solid #ccc;

	border-radius: 0;

	border-top: 1px solid #ccc;

	margin-bottom: 20px;

	padding: 0;

	padding-top: 15px;

}



.hb-accom-selected {

	background: #eee;

}



.hb-accom-page .hb-accom-selected {

	background: none;

}



.hb-accom-title {

	font-weight: bold;

}



.hb-accom-img {

	display: block;

	float: right;

	margin: 0 0 15px 15px;

    max-width: 100%;

}



.hb-accom-price {

	float: left;

	font-size: 30px;

	font-weight: bold;

	line-height: 45px;

	margin-right: 8px;

}



.hb-accom-price-caption {

	float: left;

	font-size: 12px;

	line-height: 14px;

	margin: 22px 0 15px;

}



.hb-accom-price-caption-small {

	margin-top: 8px;

}



.hb-price-breakdown,

.hb-price-bd-hide-text {

	display: none;

}



.hb-price-breakdown-title {

	display: block;

	font-weight: bold;

}



.hb-price-breakdown-section {

	display: block;

}



.hb-select-accom,

.hb-view-accom {

	float: left;

}



p.hb-select-accom {

	margin-right: 15px;

}



.hb-accom-selected .hb-accom-selected-name {

	display: block;

	font-weight: bold;

}



/* end accommodation selection */



/* booking details form */



.hb-booking-details-form,

.hb-saving-resa,

.hb-confirm-error,

.hb-resa-done-msg,

.hb-resa-payment-msg

{

	display: none;

}



.hb-detail-field {

	box-sizing: border-box;

	width: 100%;

}



textarea.hb-detail-field {

	height: 140px !important;

}



.hbook-wrapper .form-error {

	color: #F04826;

	display: block;

}



.hb-saving-resa {

	background: url(loader-2x.gif) no-repeat left center;

	background-size: 24px 24px;

	display: none;

	line-height: 30px;

	padding-left: 30px;

}



.hb-resa-summary-content {

	background: #FCFCFC;

	border: 1px solid #ccc;

	border-radius: 5px;

	margin-bottom: 22px;

	padding: 10px 17px;

}



.hb-accom-page .hb-summary-accom-wrap {

	display: none;

}



.hb-resa-deposit,

.hb-resa-done-email {

	font-weight: bold;

}



.hb-booking-details-form .hb-payment-type-multiple-choice label,

.hb-booking-details-form .hb-payment-method label {

    display: inline;

}



.hb-payment-type-explanation,

input.hb-payment-type-hidden,

input.hb-payment-method-hidden,

.hb-payment-method-wrapper {

    display: none;   

}



.hb-column-half {

	float: left;

	width: 48%;

}



.hb-column-third {

	float: left;

	width: 30.66%;

}



.hb-column-half,

.hb-column-third {

	margin-right: 4%;

}



.hb-column-half:last-of-type,

.hb-column-third:last-of-type {

	margin-right: 0;

}



.hb-details-form-stacked .hb-column-half,

.hb-details-form-stacked .hb-column-third {

	float: none;

	width: 100%;

}



/* end booking details form */



/* misc */



.hb-processing-contact-form {

	background: url(loader-2x.gif) no-repeat left center;

	background-size: 24px 24px;

	display: none;

	float: left;

	margin-left: 10px;

	height: 24px;

	width: 24px;

}



.hb-contact-submit input {

	float: left;

}



.hb-contact-msg-send,

.hb-contact-form-error {

	display: none;

}



.hb-confirm-error,

.hb-contact-form-error {

	color: #F04826;

}



.hb-explanation {

	font-style: italic;

}



.hbook-wrapper input[type="text"] {

	display: block;

}



.hbook-wrapper label {

	display: table;

}



.hbook-wrapper label.hb-label-choice,

.hbook-wrapper label.hb-terms-and-cond {

	display: inline;

}



a.hb-thumbnail-link {

    border: none;

	display: block;

}



.hb-accom-list-thumb {

    display: block;

    float: left;

    max-width: 100%;

}



.hb-accom-list-item h2, 

.hb-accom-list-item h3, 

.hb-accom-list-item h4 {

    clear: none;

}



.hb-single-option {

	line-height: 2;

}



.hb-quantity-option {

    margin-bottom: 5px;

}



.hb-options-form,

.hb-quantity-option,

.hb-single-option,

.hb-multiple-option {

    display: none;

}



.hbook-wrapper .hb-options-form label {

	display: inline;

}



.hb-options-total-price {

    font-weight: bold;

}



.hb-price-placeholder-minus {

	display: none;

}



input[type="text"].hb-stripe-card-number {

	max-width: 300px;

}



input[type="text"].hb-stripe-cvc {

	width: auto;

}



.hb-stripe-error {

	color: #F04826;

	display: none;

}



.hbook-wrapper label img {

	vertical-align: middle;

}



.hb-alignleft {

    float: left;

}



.hb-clearfix:after {

    clear: both;

    content: "";

    display: table;

}



/* end misc */



/*** Custom Style ***/

/*.hb-dp-date-pending {
	background: #b2ff72;
	pointer-events: none;
}
.hb-avail-caption-pending {
	background: #b2ff72;
}*/
.hb-avail-caption-text-occupied {
	margin-right: 40px;
}
.hb-dp-month .hb-dp-weeks {
	padding: 0 0 0 23px;
}
.hb-dp-month .hb-dp-weeks .hb-dp-week {
	position: relative;
}
.hb-dp-month .hb-dp-weeks .hb-dp-week .week-number {
	width: 20px;
	position: absolute;
	top: 7px;
    left: -23px;
    text-align: center;
}
